.articles {
  height: 400px;
  margin: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  .article {
    margin:2rem;
  }
  .font-awesome-icon {
    margin: 1rem;
    color: $color-light-grey;
    position: relative;
    ::before {
      position: absolute;
    }
  }

  .article-title, .article-text {
    color: $color-grey;
  }

  .article-title {
    margin: 1rem;
    font-size: 1.5rem;
  }

  .article-text {
    font-size: 1.3rem;
    line-height: 1.5rem;
  }
}